.habit-box{
    display: flex;
    flex-flow: column;
    width: 200px;
    height: 125px;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--COLOR-secondary-bg);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.habit-labels{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.habit-labels p{
    font-size: x-small;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--COLOR-tertiary);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);
}

.habit-box:hover .habit-labels{
    display: none;
}

.habit-box:hover p{
    display: none;
}

.habit-box a{
    display: none;
    text-decoration: none;
    color: var(--COLOR-secondary);
}

.habit-box:hover a{
    display: flex;
    justify-content: center;
    align-items: center;
}

.habit-box:hover{
    justify-content: space-around
}

.completed{
    color: var(--COLOR-secondary);
}

.pending{
    font-weight: 600;
    color: var(--COLOR-primary);
}