.button{
    padding: 10px 1rem;
    background-color: var(--COLOR-primary);
    border: none;
    border-radius: 5px;
    color: var(--COLOR-white);
    transition: all 0.3s ease;
    cursor: pointer;
}

.button.link{
    padding: 0;
    background-color: transparent;
    color: var(--COLOR-text);
}

.button.secondary{
    background-color: var(--COLOR-secondary);
}

.button:hover{
    opacity: 0.8;
}