.labels-main{
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 1rem;
}

.labels-header{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}

.labels-header h2{
    font-family: var(--FONT-brand);
    letter-spacing: 5px;
}

.labels-list{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.label-form{
    display: flex;
    flex-flow: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.label-form input {
    background-color: var(--COLOR-secondary-bg);
    color: var(--COLOR-text);
    outline: none;
    border: 1px solid var(--COLOR-border);
    border-radius: 5px;
    padding: 10px;
    width: 400px;
}