.sidebar{
    display: flex;
    flex-flow: column;
    gap: 4rem;
}

.sidebar-links{
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 3rem;
}

.sidebar-links li a{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--COLOR-text);
}

.sidebar-links li a[class="active"]{
    font-weight: 900;
}

.sidebar-profile{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
}

.sidebar-profile svg{
    cursor: pointer;
}

.sidebar-profile svg:hover{
    color: var(--COLOR-primary);
}