.landing-main{
    display: flex;
    padding: 2rem;
    gap: 1rem;
}

.landing-main section{
    flex: 1 1 50%;
}

.landing-intro{
    display: flex;
    flex-flow: column;
    text-align: center;
    gap: 3rem;
}

.intro-text{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.intro-text h1{
    font-family: var(--FONT-brand);
}